.find-patients {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.find-patients h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.search-input:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.search-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #56ab2f;
    /* Primary green background */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
    background-color: #a8e063;
    /* Lighter green on hover */
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(168, 224, 99, 0.5);
}


.patients-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.patients-list p {
    color: #666;
    font-size: 16px;
    margin: 0;
}